@model CinemaBaby.Models.Promotion

<h2>✏️ Sửa khuyến mãi</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="PromotionId" />

    <div class="mb-2">
        <label>Tên</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Mô tả</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Ngày bắt đầu</label>
        <input asp-for="StartDate" type="date" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Ngày kết thúc</label>
        <input asp-for="EndDate" type="date" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Ảnh</label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>

    <button class="btn btn-primary">Lưu</button>
</form>